*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 166, 166);
}
.container{
    background-color: aqua;
    border-radius: 20px;
    width: 25rem;
    text-align: center;
    box-shadow: 0 8px 32px rgb(43, 39, 39);
}

h1{
    color: rgb(122, 92, 203);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#quotes{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 10px;
}

textarea{
    width: 90%;
    border-radius: 12px;
    padding: 12px;
    resize: none;
    outline: none;
    font-size: 1rem;
    margin-top: 0.5rem;
}
textarea::placeholder{
    color: rgb(0, 0, 0);
}

button{
    background-color: rgb(132, 131, 134);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease;
}

button:hover{
    transform: scale(1.05);
}

#result{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin: 1rem;
    padding: 12px;
    border-radius: 10px;
}